<h1>建立帳戶</h1>

<div class="row">
  <%= form_for(@user) do |f| %>
      <%= render "shared/form_errors", record: @user%>

      <div class="field">
        <%= f.label "名字" %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label "密碼" %><br>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label "再次確認密碼" %><br>
        <%= f.password_field :password_confirmation %>  
      </div>
 
      <div class="actions">
        <%= f.submit "申請", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>

